<h1>Texts</h1>

<table id="texts" class="display" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>

    {% for t in texts %}
    <tr>
      <td>{{ t['TxID'] }}</td>
      <td>{{ t['TxTitle'] }}</td>
    </tr>
    {% endfor %}

  </tbody>

  <tfoot>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </tfoot>

</table>

{#
<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
#}
