{% extends 'base.html.twig' %}

{% block title %}Read{% endblock %}

{% block body %}

<div id="reading-frames-left" style="width: 50%;">
  <div id="reading-header">
    <p>header for {{ textid }}</p>
  </div>
    {{ render(url('app_read_text', { 'TxID': textid })) }}
  </div>
</div>


<div id="reading-frames-right" style="position: fixed; top: 2%; right: 0; height: 95%; 
width: 50%;">
    <iframe name="wordframe" class="rightreadingframe" src="empty.html" scrolling="auto"
            style="height: 50%; width: 100%;" frameBorder="0">
      Frame support required.
    </iframe>

    <iframe name="dictframe" class="rightreadingframe" src="empty.html" scrolling="auto"
            style="height: 50%; width: 100%;" frameBorder="0">
      Frame support required.
    </iframe>
</div>



<script>
  // Hacks while working with old code.
  // Hardcoding these for now:
  // Translations are shown below the terms.
  ANNOTATIONS_MODE = 2;
  // Use tooltip.
  // JQ_TOOLTIP=1; // Not properly setting global state.
  $(document).ready(prepareTextInteractions);
</script>

{% endblock %}
