{% extends 'base.html.twig' %}

{% block title %}Read{% endblock %}

{% block body %}

{% for sentence in sentences %}

<span><p>seid to go in span</p>

  {% for item in sentence.renderable %}
  {% include '/read/term.html.twig' %}
  {% endfor %}
  
</span>
{% endfor %}

{% endblock %}
