<h1>Symfony settings</h1>

<table>
  <tr>
    <th>Name</th><th>Value</th>
  </tr>
  <tr>
    <td>DATABASE_URL_ENV</td><td>{{ DATABASE_URL_ENV }}</td>
  </tr>
  <tr>
    <td>DATABASE_URL_SERVER</td><td>{{ DATABASE_URL_SERVER }}</td>
  </tr>
</table>
